.color-bank-1 {
  color: #2f1f25;
  color: #252717;
  color: #15353c;
  color: #b39e42;
  color: #dedd98;
}

.color-bank-2 {
  color: #ddd;
  color: #aaa;
  color: #888;
  color: #555;
  color: #222;
}

.color-bank-3 {
  color: #183419;
  color: #448045;
  color: #8dc981;
  color: #81938a;
  color: #080e0a;
}

.color-bank-2 {
  color: #0e102f;
  color: #1e1b57;
  color: #6a64ac;
  color: #78ba4b;
  color: #b6d779;
}

.color-bank-2 {
  color: #046ab0;
  color: #e5e4cf;
  color: #d1ab2d;
  color: #a43e23;
  color: #202557;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #202557;
  margin: auto;
  padding: 0;
  width: 80%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.2s;
  animation-name: animatetop;
  animation-duration: 0.2s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: #e5e4cf;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #046ab0;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #202557;
  color: #e5e4cf;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #202557;
  color: #e5e4cf;
}

a {
  color: #046ab0;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

a:hover {
  color: #d1ab2d;
}

.avatar-border {
  border: 1px solid #202557;
  height: 42px;
  width: 42px;
}

body {
  color: #202557;
  background-color: #e5e4cf;
}

.button {
  background-color: #202557;
  border-color: #046ab0;
  color: #e5e4cf;
}

.button[disabled] {
  background-color: #e5e4cf;
  border-color: #046ab0;
  color: #046ab0;
}

.button {
  border-width: 2px;
  border-radius: 8px;
  padding: 5px 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button:focus {
  outline: none;
}

.button:hover:enabled {
  background-color: #a43e23;
  border-bottom: 2px solid #a43e23;
  border-left: 2px solid #d1ab2d;
  border-right: 2px solid #a43e23;
  border-top: 2px solid #d1ab2d;
  border-radius: 8px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Add margin to bottom of page to account for input height */
#chatroom {
  margin-bottom: 60px;
  padding: 20px;
}

/* Add space for the user panel/side navbar at width >= 768px */
@media (min-width: 767px) {
  #chatroom {
    margin-left: 200px;
  }
}

.input-channel-div {
  margin-left: auto;
  margin-right: auto;
  max-width: 330px;
}

.input-username-div {
  margin-left: auto;
  margin-right: auto;
  max-width: 330px;
}

.close:hover {
  color: #e5e4cf;
  text-decoration: none;
}

.error {
  color: #d1ab2d;
  font-weight: bold;
}

.flex {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* Change the default bootstrap blue glow around input fields */
/* https://stackoverflow.com/questions/14820952/change-bootstrap-input-focus-blue-glow */
.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.form-input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer {
  position: fixed;
  bottom: 20px;
  width: 100%;
}

.height-40 {
  height: 40px;
}

.height-80 {
  height: 80px;
}

.horizontal-border-top {
  border-top: 2px solid #202557;
}

html {
  position: relative;
  min-height: 100%;
}

.input {
  border: 2px solid #046ab0;
  border-radius: 8px;
  color: #046ab0;
}

.input::-webkit-input-placeholder {
  color: #046ab0;
  font-style: italic;
}

.input:-ms-input-placeholder {
  color: #046ab0;
  font-style: italic;
}

.input::-ms-input-placeholder {
  color: #046ab0;
  font-style: italic;
}

.input::placeholder {
  color: #046ab0;
  font-style: italic;
}

.input:focus {
  border: 2px solid #d1ab2d;
  border-radius: 8px;
  color: #a43e23;
}

#input-message {
  border-color: #202557;
  border-width: 2px 0 2px 2px;
  color: #202557;
}

#input-message::-webkit-input-placeholder {
  color: #046ab0;
  font-style: italic;
}

#input-message:-ms-input-placeholder {
  color: #046ab0;
  font-style: italic;
}

#input-message::-ms-input-placeholder {
  color: #046ab0;
  font-style: italic;
}

#input-message::placeholder {
  color: #046ab0;
  font-style: italic;
}

#input-message:focus {
  border-color: #046ab0;
  color: #202557;
  outline: none;
}

#input-message:focus + .input-submit[disabled] {
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-color: #046ab0;
  color: #046ab0;
  outline: none;
}

#input-message:focus + .input-submit {
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-color: #046ab0;
  color: #e5e4cf;
  outline: none;
}

@media (min-width: 767px) {
  #input-message {
    border-radius: 8px 0 0 8px;
    margin-left: 20px;
  }
}

.input-submit {
  background-color: #202557;
  border-color: #202557;
  border-radius: 0 8px 8px 0;
  border-width: 2px 2px 2px 3px;
  color: #e5e4cf;
  margin-right: 20px;
}

.input-submit[disabled], .input-submit[disabled]:hover {
  background-color: #e5e4cf;
  color: #046ab0;
  outline: none;
}

.input-submit:hover, .input-submit:focus {
  background-color: #046ab0;
  outline: none;
}

#introduction {
  background-color: #e5e4cf;
  margin-left: auto;
  margin-right: auto;
  max-width: 660px;
  padding: 20px;
}

.message-history {
  height: 40px;
  /* match div.style.height in channel.js */
  margin: 5px;
  /* match div.style.margin in channel.js */
}

.message-spacer {
  background-color: #202557;
  width: 200px;
}

@media (max-width: 767px) {
  .message-spacer {
    display: none;
  }
}

.modal-body {
  color: #e5e4cf;
}

.modal-header {
  border: 0;
}

.modal-item {
  margin-bottom: 20px;
}

.modal-nav-button {
  background-color: #e5e4cf;
  border-color: #202557;
  border-radius: 8px 0 0 8px;
  border-width: 2px 0 2px 2px;
  color: #046ab0;
  margin-left: 20px;
}

.modal-nav-button:hover {
  background-color: #202557;
  color: #046ab0;
}

.modal-nav-button:focus {
  outline: none;
}

.modal-nav-button:hover svg line {
  stroke: #046ab0;
}

@media (min-width: 767px) {
  .modal-nav-button {
    display: none;
  }
}

#new-channel {
  width: 80%;
}

#new-channel::-webkit-input-placeholder {
  color: #046ab0;
  font-style: italic;
}

#new-channel:-ms-input-placeholder {
  color: #046ab0;
  font-style: italic;
}

#new-channel::-ms-input-placeholder {
  color: #046ab0;
  font-style: italic;
}

#new-channel::placeholder {
  color: #046ab0;
  font-style: italic;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

svg {
  height: 34px;
  width: 20px;
}

svg line {
  stroke: #202557;
}

.top-navbar {
  font-weight: bold;
  padding: 5px 0;
}

@media (max-width: 767px) {
  #user-panel {
    height: 0;
    overflow-x: hidden;
    width: 0;
  }
}

@media (min-width: 767px) {
  #user-panel {
    background-color: #202557;
    color: #e5e4cf;
    height: 100%;
    padding: 10px;
    position: fixed;
    width: 200px;
  }
}
/*# sourceMappingURL=main.css.map */