.color-bank-1 {
  color: #2f1f25;
  color: #252717;
  color: #15353c;
  color: #b39e42;
  color: #dedd98;
}

.color-bank-2 {
  color: #ddd;
  color: #aaa;
  color: #888;
  color: #555;
  color: #222;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #2f1f25;
  margin: auto;
  padding: 0;
  width: 80%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.2s;
  animation-name: animatetop;
  animation-duration: 0.2s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* The Close Button */
.close {
  color: #dedd98;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #b39e42;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #2f1f25;
  color: #dedd98;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #2f1f25;
  color: #dedd98;
}

.submit-button {
  background-color: #2f1f25;
  border-color: #b39e42;
  color: #dedd98;
}

.submit-button[disabled] {
  background-color: #dedd98;
  border-color: #b39e42;
  color: #b39e42;
}

a {
  color: #b39e42;
  font-weight: bold;
}
a:hover {
  color: #b39e42;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  color: #2f1f25;
  background-color: #dedd98;
}

.avatar-border {
  border: 1px solid #2f1f25;
  height: 42px;
  width: 42px;
}

.close:hover {
  color: #dedd98;
  text-decoration: none;
}

/* Add margin to bottom of page to account for input height */
#chatroom {
  margin-bottom: 60px;
  padding: 20px;
}

/* Add space for the user panel/side navbar at width >= 768px */
@media (min-width: 767px) {
  #chatroom {
    margin-left: 200px;
  }
}
#choose-a-name {
  margin: auto;
  max-width: 330px;
}

.error {
  color: #15353c;
  font-weight: bold;
}

.flex {
  align-items: flex-end;
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* Change the default bootstrap blue glow around input fields */
/* https://stackoverflow.com/questions/14820952/change-bootstrap-input-focus-blue-glow */
.form-control:focus {
  box-shadow: none;
  outline: none;
}

.form-input {
  flex-grow: 1;
  flex-shrink: 0;
}

.footer {
  position: fixed;
  bottom: 20px;
  width: 100%;
}

.height-40 {
  height: 40px;
}

.height-80 {
  height: 80px;
}

.horizontal-border-top {
  border-top: 2px solid #2f1f25;
}

#introduction {
  background-color: #dedd98;
  margin-left: auto;
  margin-right: auto;
  max-width: 660px;
  padding: 20px;
}

.margin-auto {
  margin: auto;
}

.message-history {
  height: 40px;
  /* match div.style.height in channel.js */
  margin: 5px;
  /* match div.style.margin in channel.js */
}

#message-input {
  border-color: #2f1f25;
  border-width: 2px 0 2px 2px;
  color: #2f1f25;
}
#message-input::placeholder {
  color: #b39e42;
  font-style: italic;
}
#message-input:focus {
  outline: none;
}

@media (min-width: 767px) {
  #message-input {
    border-radius: 8px 0 0 8px;
    margin-left: 20px;
  }
}
.message-spacer {
  background-color: #2f1f25;
  width: 200px;
}

@media (max-width: 767px) {
  .message-spacer {
    display: none;
  }
}
.modal-body {
  color: #dedd98;
}

.modal-header {
  border: 0;
}

.modal-item {
  margin-bottom: 20px;
}

.modal-nav-button {
  background-color: #dedd98;
  border-color: #2f1f25;
  border-radius: 8px 0 0 8px;
  border-width: 2px 0 2px 2px;
  color: #b39e42;
  margin-left: 20px;
}
.modal-nav-button:hover {
  background-color: #2f1f25;
  color: #b39e42;
}
.modal-nav-button:focus {
  outline: none;
}
.modal-nav-button:hover svg line {
  stroke: #b39e42;
}

@media (min-width: 767px) {
  .modal-nav-button {
    display: none;
  }
}
#new-channel {
  width: 80%;
}
#new-channel::placeholder {
  color: #b39e42;
  font-style: italic;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.submit-button {
  border-width: 2px;
  border-radius: 8px;
  padding: 5px 15px;
  transition: 0.2s;
}
.submit-button:focus {
  outline: none;
}
.submit-button:hover {
  opacity: 0.8;
}

.submit-input {
  background-color: #2f1f25;
  border-color: #2f1f25;
  border-radius: 0 8px 8px 0;
  border-width: 2px 2px 2px 3px;
  color: #dedd98;
  margin-right: 20px;
}
.submit-input[disabled] {
  background-color: #dedd98;
  border-color: #2f1f25;
  color: #b39e42;
}
.submit-input:focus {
  outline: none;
}

svg {
  height: 34px;
  width: 20px;
}
svg line {
  stroke: #2f1f25;
}

.text-align-center {
  text-align: center;
}

.top-navbar {
  font-weight: bold;
  padding: 5px 0;
}

#username {
  border: 2px solid #b39e42;
  border-radius: 8px;
}
#username::placeholder {
  color: #b39e42;
  font-style: italic;
}

@media (max-width: 767px) {
  #user-panel {
    height: 0;
    overflow-x: hidden;
    width: 0;
  }
}
@media (min-width: 767px) {
  #user-panel {
    background-color: #2f1f25;
    color: #dedd98;
    height: 100%;
    padding: 10px;
    position: fixed;
    width: 200px;
  }
}

/*# sourceMappingURL=main.css.map */
