{% extends "layout.html" %}

<!-- Custom CSS, JavaScript, Title -->
{% block custom_css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> {% endblock %}
{% block js %} <script src="{{ url_for('static', filename='js/channel.js') }}"></script> {% endblock %}
{% block title %} <title>CS50 - microChat - Index</title> {% endblock %}

<!-- Body -->
{% block body %}

<div class="row no-gutters">

  <!-- User Panel -->
  <div id="user-panel">
    <p>
      Welcome <span id="username">{{ g.username }}</span>, you are in channel "<span id="channel_name" name="channel_name">{{ channel_name }}</span>".
    </p>
    <a href="{{ url_for('logout_channel') }}">Change channel</a><br>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>

  <!-- Chat History & Chatroom -->
  <div id="chatroom">
    {% for key in chat_history %}
    <div class="message_history">
      <img class="avatar" src="https://api.adorable.io/avatars/40/{{ chat_history[key]['username'] }}"> [{{ chat_history[key]['date'] }}] {{ chat_history[key]['username'] }}: {{ chat_history[key]['message'] }}<br>
    </div>
    {% endfor %}
    <div id="message_new"></div>
  </div>

</div>

<!-- Message Input Field -->
<footer class="footer">
  <form id="form_input">
    <div class="input-group">
      <input id="input" class="form-control" type="text" autofocus placeholder="Enter a message">
      <div class="input-group-append">
        <input id="submit_input" type="submit" value="Submit">
      </div>
    </div>
  </form>
</footer>

{% endblock %}