<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='channel.js') }}"></script>
  <title>Channel</title>
</head>
<body>
  <p>
      Welcome {{ g.username }}, you are in channel {{ channel_name }}.
  </p>

  <ul id="chatroom"></ul>
  <form id="form_input">
    <input id="input" type="text" autofocus>
    <input id="submit_input" type="submit" value="Submit">
  </form>

  <p>
    <a href="{{ url_for('index') }}">Index</a><br>
    <a href="{{ url_for('logout') }}">Logout</a>
  </p>
</body>
</html>
