{% extends "layout.html" %}

<!-- Custom CSS, JavaScript, Title -->
{% block custom_css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> {% endblock %}
{% block js %} <script src="{{ url_for('static', filename='js/channel.js') }}"></script> {% endblock %}
{% block title %} <title>CS50 - microChat - Index</title> {% endblock %}

<!-- Body -->
{% block body %}

<div class="row no-gutters">

  <!-- User Panel -->
  <div id="user-panel">
    <p>
      Welcome, <span class="username">{{ g.username }}</span>! 
    </p>
    <p> Channel: <span id="channel_name" name="channel_name">{{ channel_name }}</span>
    </p>
    <a href="{{ url_for('logout_channel') }}">Change Channel</a><br>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>

  <!-- Chat History & Chatroom -->
  <div id="chatroom">
    {% for key in chat_history %}
    <div class="message-history">
      <img class="avatar" src="https://api.adorable.io/avatars/40/{{ chat_history[key]['username'] }}"> [{{ chat_history[key]['date'] }}] {{ chat_history[key]['username'] }}: {{ chat_history[key]['message'] }}<br>
    </div>
    {% endfor %}
    <div id="message_new"></div>
  </div>

</div>

<!-- Message Input Field -->
<footer class="footer">
  <div class="flex-row">
    <div class="message-spacer">x</div>
    <form class="form-input">
      <div class="input-group">
        <div class="input-group-prepend">
          <button class="modal-nav-button" type="button">
            <!-- <img width="16px" src="{{ url_for('static', filename='img/down.svg') }}"> -->
            {{ svg_down }}
          </button>
        </div>
        <input id="input-message" class="form-control height-40" type="text" autofocus placeholder="Enter a message">
        <input class="input-message-submit input-group-append" type="submit" value="Submit" disabled>
      </div>
    </form>
  </div>
</footer>

<!-- Modal -->
<div id="modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
      <div class="modal-item">
        Welcome, <span class="username">{{ g.username }}</span>!
      </div>
      <div class="modal-item">
        Channel: <span id="channel_name" name="channel_name">{{ channel_name }}</span>
      </div>
      <div class="modal-item">
        <a href="{{ url_for('logout_channel') }}">Change Channel</a>
      </div>
      <div class="modal-item">
        <a href="{{ url_for('logout') }}">Logout</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}