{% extends "layout.html" %}

<!-- Custom CSS, JavaScript, Title -->
{% block custom_css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> {% endblock %}
{% block js %} <script src="{{ url_for('static', filename='js/index.js') }}"></script> {% endblock %}
{% block title %} <title>CS50 - microChat - Index</title> {% endblock %}

<!-- Body -->
{% block body %}

<div class="container">

  <!-- Top Navbar -->
  <div class="row no-gutters top-navbar my-3 ">
    <div class="col-4 flex">
      <div class="mr-auto">Welcome, {{ g.username }}!</div>
    </div>
    <div class="col-4 flex">
      <img class="margin-auto" width="130px" src="{{ url_for('static', filename='img/logo-2.svg') }}">
    </div>
    <div class="col-4 flex">  
      <a class="ml-auto" href="{{ url_for('logout') }}">Logout</a>
    </div>
  </div>

  <!-- Create a Channel -->
  <div class="row no-gutters horizontal-border-top mb-3">
    <div class="col-12 text-align-center">
      <h5 class="mt-2">Create a Channel</h5>
      <form class="mb-3" method="post">
        <input id="new-channel" name="new_channel" class="form-control ml-auto mr-auto mb-3" type="text" placeholder="Enter a channel name" onkeypress="return AvoidSpace(event)">
        <div>
          <button class="submit-button" type="submit" disabled>Create Channel</button>
        </div>
      </form>
      <div class="error">{{ error }}</div>
    </div>
  </div>

  <!-- Current Channels -->
  <div class="row no-gutters horizontal-border-top mb-3">
    <div class="col-12">
      <h5 class="mt-2">Current Channels</h5>
      <p id="channel_list"></p>
    </div>
  </div>

  <!-- Channel list from application.py is stored here -->
  <p id="channel_list_div_hidden" hidden>{{ channel_list }}</p>
</div>

{% endblock %}
