{% extends "layout.html" %}

<!-- Custom CSS, JavaScript, Title -->
{% block custom_css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> {% endblock %}
{% block js %} <script src="{{ url_for('static', filename='js/index.js') }}"></script> {% endblock %}
{% block title %} <title>CS50 - microChat - Index</title> {% endblock %}

<!-- Body -->
{% block body %}

<div class="container">

  <div class="row my-3 no-gutters">
    <div class="col-10">
      <h5>Welcome, <img id="avatar" src="https://api.adorable.io/avatars/40/{{ g.username }}"> {{ g.username }}!</h5>
    </div>
    <div class="col-2">  
      <a href="{{ url_for('logout') }}">Logout</a>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-6">
      <h5>Current Channels</h5>
      <p id="channel_list"></p>
    </div>
    <div class="col-6">
      <h5>Create a Channel</h5>
      <form method="post">
        <input id="new-channel" name="new_channel" class="mb-3" type="text" placeholder="Enter a channel name" onkeypress="return AvoidSpace(event)"><br>
        <div class="center" width="62px">
          <button class="submit-channel center" type="submit">Create</button>
        </div>
      </form>
      {{ error }}
    </div>

    <!-- Channel list from application.py is stored here -->
    <p id="channel_list_div_hidden" hidden>{{ channel_list }}</p>
  </div>
</div>

{% endblock %}
