{% extends "layout.html" %}

<!-- Custom CSS, JavaScript, Title -->
{% block custom_css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> {% endblock %}
{% block js %} <script src="{{ url_for('static', filename='js/login.js') }}"></script> {% endblock %}
{% block title %} <title>CS50 - microChat - Login</title> {% endblock %}

<!-- Body -->
{% block body %}

  <form name="enter_name" method="post">
    Enter a username (without spaces): <br>
    <input id="username" name="username" type="text" onkeypress="return AvoidSpace(event)">
    <input id="submit" type="submit" value="Submit">
  </form>

  {{ error }}

{% endblock %}
