{% extends "layout.html" %}

<!-- Custom CSS, JavaScript, Title -->
{% block custom_css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> {% endblock %}
{% block js %} <script src="{{ url_for('static', filename='js/login.js') }}"></script> {% endblock %}
{% block title %} <title>CS50 - microChat - Login</title> {% endblock %}

<!-- Body -->
{% block body %}

  <!-- Logo -->
  <img class="center-block" width="230px" src="{{ url_for('static', filename='img/chatroom-logo-d-01.svg') }}">

  <!-- Enter a Display Name -->
  <div id="choose-a-name" class="text-center">
    <form class="mb-4" name="enter_name" method="post">
      <input id="username" name="username" type="text" class="form-control mb-3" placeholder="Enter a display name" required autofocus onkeypress="return AvoidSpace(event)">
      <button class="submit-button" type="submit" disabled>Start Chatting!</button>
    </form>
  </div>

  {{ error }}

  <!-- CS50 Introduction -->
  <div id="introduction" class="horizontal-border-top mb-5">
    <h4>CS50 - Web Development with Python and JavaScript</h4>
    <h5>Project 2</h5>
    <p>
      This is a chatroom application built using Flask SocketIO. Visitors can create a display name and then either join or create new chatroom channels. No passwords are necessary. A random avatar is assigned to each display name through the <a href="http://avatars.adorable.io/">Adorable Avatars!</a> API.
    </p>
    <p>
      Chatrooms will save up to 100 of the latest messages, and once visitors log out their display name becomes available for anyone else to use.
    </p>
  </div>

{% endblock %}
